#main{
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    margin-top: 10%;
    margin-left: 30%;
    position: absolute;
}
#yours{
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    font-size: 50px;
    margin-top: 3%;
    margin-left: 20%;
    display: none;
}
#date{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    position: absolute;
    margin-top: 15%;
    margin-left: 20%;
    display: none;
}
#kilig{
    width: 400px;
    position: absolute;
    margin-top: 25%;
    margin-left: 30%;
    display: none;
}
#buttonYES{
    font-size: 30px;
    margin-top: 23%;
    margin-left: 35%;
    position: absolute;
}
#button1{
    font-size: 30px;
    margin-top: 23%;
    margin-left: 50%;
    position: absolute;
}
#button2{
    font-size: 30px;
    margin-left: 10%;
    margin-top: 20%;
    position: absolute;
}
#button3{
    font-size: 30px;
    margin-left: 30%;
    margin-top: 10%;
    position: absolute;
}
#button4{
    font-size: 30px;
    margin-left: 90%;
    margin-top: 20%;
    position: absolute;
}
#button5{
    font-size: 30px;
    margin-left: 80%;
    margin-top: 40%;
    position: absolute;
}
#button6{
    font-size: 30px;
    margin-left: 66%;
    margin-top: 30%;
    position: absolute;
}
#button7{
    font-size: 30px;
    margin-left: 20%;
    margin-top: 35%;
    position: absolute;
}
#button8{
    font-size: 30px;
    margin-left: 40%;
    margin-top: 40%;
    position: absolute;
}
#button9{
    font-size: 30px;
    margin-left: 80%;
    margin-top: 8%;
    position: absolute;
}
#button10{
    font-size: 30px;
    margin-left: 8%;
    margin-top: 5%;
    position: absolute;
}
body{
    background-color: lightcoral;
}

#image1{
    width: 200px;
    margin-left: 70%;
    margin-top: 30%;
    display: none;
    position: absolute;
}
#image2{
    width: 200px;
    margin-left: 80%;
    margin-top: 1%;
    display: none;
    position: absolute;
}
#image3{
    width: 200px;
    margin-left: 1%;
    margin-top: 15%;
    display: none;
    position: absolute;
}
#image4{
    width: 200px;
    margin-left: 50%;
    margin-top: 0%;
    display: none;
    position: absolute;
}
#image5{
    width: 200px;
    margin-left: 30%;
    margin-top: 30%;
    display: none;
    position: absolute;
}
#image6{
    width: 200px;
    margin-left: 1%;
    margin-top: 1%;
    display: none;
    position: absolute;
}
#image7{
    width: 200px;
    margin-left: 0%;
    margin-top: 30%;
    display: none;
    position: absolute;
}
#image8{
    width: 200px;
    margin-left: 50%;
    margin-top: 25%;
    display: none;
    position: absolute;
}
#image9{
    width: 200px;
    margin-left: 75%;
    margin-top: 10%;
    display: none;
    position: absolute;
}
#image10{
    width: 200px;
    margin-left: 25%;
    margin-top: 0%;
    display: none;
    position: absolute;
}

#cred{
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-left: 40%;
    margin-top: 50%;
    position: absolute;
}

#audio{
    display: none;
    position: absolute;
    margin-top: 65%;
    margin-left: 35%;
}
#sad{
    display: none;
    position: absolute;
    margin-top: 65%;
    margin-left: 35%;
}

